.navbar {
   background: #1a4d60;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 85px;
   padding: 5px 10%;
}
  
.navbar .navbar__icon{
  cursor: pointer;
  margin-right: auto;
}
  
.navbar .navbar__icon img{
  height: 65px;
  width: auto;
  transition: all 0.3s;
}
  
.navbar .navbar__icon img:hover{
  transform: scale(1.2);
}
  
.navbar .nav__links{
  list-style: none;
}
  
.navbar .nav__links li{
  display: inline-block;
  padding: 0 20px;    
}
  
.navbar .nav__links li:hover{
  transform: scale(1.1);
}
  
.navbar .nav__links a{
  font-size: 700;
  color: white;
  text-decoration: none;
}
  
.navbar .nav__links li a:hover{
  color: #54a4e4;
}
  
.navbar .navbar__button button{
  margin-left: 20px;
  font-weight: 700;
  color: black;
  padding: 9px 25px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
  
.navbar .navbar__button button:hover{
  color: #54a4e4;
  transform: scale(1.1);
}