.navbar {
    background: #1a4d60;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
  }
  
  .navbar .icon{
    cursor: pointer;
    margin-right: auto;
  }
  
  .navbar .icon img{
    height: 65px;
    width: auto;
    transition: all 0.3s;
  }
  
  .navbar .icon img:hover{
    transform: scale(1.2);
  }
  
  .navbar .nav-links{
    list-style: none;
  }
  
  .navbar .nav-links li{
    display: inline-block;
    padding: 0 20px;    
  }
  
  .navbar .nav-links li:hover{
    transform: scale(1.1);
  }
  
  .navbar .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
  }
  
  .navbar .nav-links li a:hover{
    color: #54a4e4;
  }
  
  .navbar .button button{
    margin-left: 20px;
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
  }
  
  .navbar .button button:hover{
    color: #54a4e4;
    transform: scale(1.1);
  }