/*? ESTILOS DEL DOCUMENTO */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
	background-color: aliceblue;
}

/*? ESTILOS DE CONTENT */
.contenido{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 250px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  background-image: url('../image/bg_seccion_reserva.jpg');
  background-size: cover;
  text-align: center;
}

.contenido_imagen{
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.img{
  width: 200px;
  height: 200px;
}

.img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.contenido__titulo {
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
}

.contenido__texto {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

.contenido__texto--2 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

/*? ESTILOS DE SERVICES */
.servicios {
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

.servicios__titulo {
  font-size: 40px;
  margin-bottom: 20px;
}

.servicios__texto {
  font-size: 20px;
  margin-bottom: 20px;
}

.servicios__imagenes {
  display: flex;
}

.img2{
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  
}

.img2:hover {
  transition: 0.3s;
  transform: scale(1.1);
  border: 2px solid rgb(127, 225, 255);
}

/*? ESTILOS DE CONTACT */
.contactanos {
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

.contactanos__titulo {
  font-size: 40px;
  margin-bottom: 20px;
}

.contactanos > p {
  margin-bottom: 15px;
}