/* ESTILOS DEL DOCUMENTO */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #FFFF;
  font-family: 'Roboto';
}

/* ESTILOS DEL NAVBAR */
.navbar {
  background: #1a4d60;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.navbar .icon{
  cursor: pointer;
  margin-right: auto;
}

.navbar .icon img{
  height: 65px;
  width: auto;
  transition: all 0.3s;
}

.navbar .icon img:hover{
  transform: scale(1.2);
}

.navbar .nav-links{
  list-style: none;
}

.navbar .nav-links li{
  display: inline-block;
  padding: 0 20px;    
}

.navbar .nav-links li:hover{
  transform: scale(1.1);
}

.navbar .nav-links a{
  font-size: 700;
  color: white;
  text-decoration: none;
}

.navbar .nav-links li a:hover{
  color: #54a4e4;
}

.navbar .button button{
  margin-left: 20px;
  font-weight: 700;
  color: black;
  padding: 9px 25px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.navbar .button button:hover{
  color: #54a4e4;
  transform: scale(1.1);
}

/* ESTILOS DE MAIN */
.content{
  color: white;
  background-image: url('../image/bg_seccion_reserva.jpeg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.content_image{
  padding-top: 50px;
  padding-bottom: 80px;
}

.img{
  width: 400px;
  height: 400px;
}

.content_titulo {
  padding-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 50px;
}

.content_text{
  padding-bottom: 55px;
  font-size: 25px;
}

.content_button {
  padding-bottom: 50px;
}

.btn {
  margin-left: 20px;
  font-weight: 700;
  color: black;
  padding: 9px 25px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.btn:hover {
  color: #54a4e4;
  transform: scale(1.1);
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.gallery_title {
  padding-bottom: 20px;
}

.gallery_image {
  display: flex;
  align-content: center;
}

.gallery_img {
  width: 500px;
  height: 300px;
  margin: 0 5px;
  border-radius: 10px;
}

/* ESTILOS DE SERVICES */
/* ESTILOS DE CONTACT_US */
/* ESTILOS DE LOGIN */
/* ESTILOS DE RESERVE */