/* ------------------ESTILOS DEL DOCUMENTO------------------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #FFFF;
	font-family: 'Roboto';
}

/* ------------------ESTILOS DEL BANNER------------------ */
.banner {
	background-image: url('../image/img_pool_3.jpg');
  	background-repeat: no-repeat;
 	background-size: cover;
 	height: 175px;
	margin-top: 25px;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 10px;
}

img {
	max-width: 100%;
  	height: auto;
}

/* ------------------ESTILOS DEL FORM------------------ */
/* Form */
.form {
	width: 50%;
	float: left;
	padding-top: 40px;
	padding-left: 200px;
	padding-bottom: 10px;
}

.form > div {
	padding-bottom: 20px;
}

.form__message {
	padding-bottom: 10px;
}

.form__send {
	padding-top: 10px;
	text-align: center;
}

/* Inputs */
input[type=text]{
	width: 100%;
	height: 40px;
	margin: 4px;
  	padding: 12px 20px;
	border-radius: 5px;
	resize: none;
}

input[type=text]:focus {
	border: 3px solid #54a4e4;
}

.form__message--input {
	width: 100%;
	height: 40px;
	margin: 4px;
	border: 2px solid black;
	border-radius: 5px;
	font-family: 'Roboto';
	resize: none;
	transition: height 0.4s ease-in-out;
}

.form__message--input:focus {
	height: 150px;
	border: 3px solid #54a4e4;
}

/* Boton */
.form__send--button {
	margin-left: 20px;
	font-weight: 700;
	color: black;
	padding: 9px 25px;
	background: white;
	border: 1px solid #54a4e4;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}
  
.form__send--button:hover {
	color: #54a4e4;
	transform: scale(1.1);
}

/* ------------------ESTILOS DEL FORM------------------ */
.information {
	width: 50%;
	float: left;
	padding-top: 80px;
	padding-left: 200px;
	padding-right: 200px;
}

.information__contact--direct {
	padding-bottom: 20px;
}
@media only screen and (max-width: 768px) {
	/* responsividad navbar */
	.navbar {
	  flex-direction: column;
	  height: auto;
	  padding: 10px;
	  z-index: 1000;
	  align-items: center;
	  text-align: center;
	  align-content: center;
	}
  
	.navbar .navbar__icon {
	  margin-right: 0;
	  margin-bottom: 10px;
	  z-index: 1000;
	}
  
	.navbar .nav__links {
	  flex-direction: column;
	  align-items: flex-end;
	  z-index: 1000;
	}
  
	.navbar .nav__links li {
	  display: block;
	  padding: 10px 0;
	  z-index: 1000;
	}
  
	.navbar .nav__links a {
	  font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
	  color: white;
	  text-decoration: none;
	  transition: color 0.3s ease-in-out; /* Agregado efecto de transición para el color */
	  z-index: 100;
	}
  
	nav{
	  z-index: 100;
	}
  
  
	.navbar .nav__links li:hover a {
	  color: #54a4e4;
	  z-index: 1000;
	}
  
	.navbar .navbar__button {
	  margin-left: 0;
	  margin-top: 10px;
	  z-index: 1000;
	  
	}
  
	.nav__links ul {
	  z-index: 1000;
	}
  
	.navbar .navbar__button button {
	  font-weight: 700;
	  color: black;
	  padding: 9px 15px; /* Ajusta el relleno según sea necesario */
	  background: white;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	  transition: all 0.2s ease 0s;
	  z-index: 1000;
	}
  
	.navbar .navbar__button button:hover {
	  color: #54a4e4;
	  transform: scale(1.1);
	  z-index: 1000;
	}
  }