/* ESTILOS DEL DOCUMENTO */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #FFFF;
    font-family: 'Roboto';
}

.btn {
	margin-left: 20px;
	font-weight: 700;
	color: black;
	padding: 9px 25px;
	background: white;
	border: 2px solid black; /* Cambiado a 2px y solid para tener un borde negro */
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}

.btn:hover {
	color: #54a4e4;
	transform: scale(1.1);
	background: white; /* Evitar que el fondo cambie al hacer hover */
}

.content_button {
	padding-bottom: 50px;
}

.reservation-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
@media only screen and (max-width: 768px) {
	/* responsividad navbar */
	.navbar {
	  flex-direction: column;
	  height: auto;
	  padding: 10px;
	  z-index: 1000;
	  align-items: center;
	  text-align: center;
	  align-content: center;
	}
  
	.navbar .navbar__icon {
	  margin-right: 0;
	  margin-bottom: 10px;
	  z-index: 1000;
	}
  
	.navbar .nav__links {
	  flex-direction: column;
	  align-items: flex-end;
	  z-index: 1000;
	}
  
	.navbar .nav__links li {
	  display: block;
	  padding: 10px 0;
	  z-index: 1000;
	}
  
	.navbar .nav__links a {
	  font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
	  color: white;
	  text-decoration: none;
	  transition: color 0.3s ease-in-out; /* Agregado efecto de transición para el color */
	  z-index: 100;
	}
  
	nav{
	  z-index: 100;
	}
  
  
	.navbar .nav__links li:hover a {
	  color: #54a4e4;
	  z-index: 1000;
	}
  
	.navbar .navbar__button {
	  margin-left: 0;
	  margin-top: 10px;
	  z-index: 1000;
	  
	}
  
	.nav__links ul {
	  z-index: 1000;
	}
  
	.navbar .navbar__button button {
	  font-weight: 700;
	  color: black;
	  padding: 9px 15px; /* Ajusta el relleno según sea necesario */
	  background: white;
	  border: none;
	  border-radius: 5px;
	  cursor: pointer;
	  transition: all 0.2s ease 0s;
	  z-index: 1000;
	}
  
	.navbar .navbar__button button:hover {
	  color: #54a4e4;
	  transform: scale(1.1);
	  z-index: 1000;
	}
  }